*, *::before, *::after {
   box-sizing: border-box;
}

body {
   background-image: linear-gradient(to right,#87AAAA,#C8E3D4);
   margin: 0;
   min-height: 100vh;
}

img {
   height: 50px;
   width: 100px;
}

h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: helvetica, sans-serif;
   font-size: 5rem;
   color: #000;
   margin: 0px 0px 20px 0px;
   width: 100vw;
   background-color: #316B83;
}

.piano {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.key {
   height: calc(var(--width) * 4);
   width: var(--width);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.white {
   --width: 100px;
   background-color: #fff;
   border: 1px solid #333;
   color: #000;
   font-size: 2rem;
}

.black {
   --width: 60px;
   background-color: #000;
   margin-left: calc(var(--width) / -2);
   margin-right: calc(var(--width) / -2);
   z-index: 5;
   color: #fff;
   font-size: 1.5rem;
}

.pressed {
   box-shadow: 0 3px 3px 0 #333;
   opacity: 0.9;
 }